# Dependencies
node_modules/
package-lock.json
# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
/android
/ios
/.idea/
.idea/
.vscode/
# Metro
.metro-health-check*
/scripts/test_*
# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

.idea/work*.xml
.idea/cache/device*.xml
